<style type="text/css">
input {
	height: 50px;
	width: 300px;
}
</style>

<layout name="layout" />
<form action="__URL__/changdi_edit" method="post">
	<input name="cdid" type="hidden" value="{$cdid}" />
    <table width="600" border="0" cellspacing="2" cellpadding="0">
      <tr>
        <td>&nbsp;</td>
        <td><label for="cdname_old">原场地名称</label>
        <input name="cdname_old" type="text" id="cdname_old" value="{$cdname_old}" readonly="readonly" /></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td></td>
        <td><label for="cdname_new">新场地名称</label>
        <input type="text" name="cdname_new" id="cdname_new" value="{$cdname_old}" /></td>
        <td>&nbsp;</td>
      </tr>
        <tr>
        <td></td>
        <td align="right"><input name="submit" type="submit" value="确认修改名称" /></td>
        <td>&nbsp;</td>
      </tr>
    </table>
</form>
